.widget {
	cursor: pointer;
	float: left;
	margin-right: 10px;
}

.widget-container {
	position: absolute;
	top: 50px;
	left: 0;
	width: 100%;
	height: inherit;
	border-top: 1px solid black;
	padding: 25px;
}

.widget-container li {
	float: left;
	list-style: none;
	margin-left: 0;
	margin-right: 40px;
}